<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="google-signin-client_id" content="869642698774-cpllf0i04mv2qedk7f2mtegkliakhfmk.apps.googleusercontent.com">
	<title>FSND Item Catalog</title>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

	<script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='bootstrap.min.css') }}">
	<script src="{{ url_for('static',filename='fontawesome-all.min.js') }}"></script>

	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles.css') }}">
</head>
<body>
	<div class="bg-dark">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="/catalog">
					Udacity Item Catalog
				</a>
				<button class="navbar-toggler" type="button"
						data-toggle="collapse" data-target="#navbarText"
						aria-controls="navbarText" aria-expanded="false"
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end"
					 id="navbarText">
					<span class="navbar-text">
						{%if 'username' not in session %}
						<a href="{{url_for('login')}}">
							<button class="btn btn-sm btn-primary">
								<i class="fa fa-sign-in-alt"></i> Login
							</button>
						</a>
						{% else %}
						<a href="{{url_for('add_category_item')}}">
							<button class="btn btn-sm btn-success">
								<i class="fa fa-plus"></i> Add Item
							</button>
						</a>
						<a href="{{url_for('logout')}}">
							<button class="btn btn-sm btn-danger">
								<i class="fa fa-sign-out-alt"></i> Logout
							</button>
						</a>
						{% endif %}
					</span>
				</div>
			</nav>
		</div>
	</div>
	<div class="container">
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>