{% extends "layout-one_column.html" %}
{% block column1 %}

<h1 class="section-heading">Login</h1>

<div id="sign-in-buttons">
	<p>Please login using one of the services below.</p>

	<div id="signInButton"
		 class="g-signin2"
		 data-theme="dark"
		 data-scope="openid email"
		 data-client_id="869642698774-cpllf0i04mv2qedk7f2mtegkliakhfmk.apps.googleusercontent.com"
		 data-redirecturi="postmessage"
		 data-accesstype="offline"
		 data-cookiepolicy="single_host_origin"
		 data-onsuccess="signInCallback"
		 data-approvalprompt="force"
		 data-width="181" data-height="28">
	</div>

	<div class="fb-login-button"
		 data-scope="public_profile,email"
		 onlogin="sendTokenToServer();"
		 data-max-rows="1"
		 data-size="medium"
		 data-button-type="continue_with"
		 data-show-faces="false"
		 data-auto-logout-link="false"
		 data-use-continue-as="false"></div>
</div>

<div id="login"></div>

<script>
	function signInCallback(authResult) {
		if (authResult['code']) {
			// Hide the sign-in buttons now that the user is authorized
			$('#sign-in-buttons').hide();
			/* Send the one-time-use code to the server, if the server
			 * responds, write a 'login successful' message to the web page
			 * and then redirect back to the main catalog page
			 */
			$.ajax({
				type: 'POST',
				url: '/gconnect?state={{STATE}}',
				processData: false,
				data: authResult['code'],
				contentType: 'application/octet-stream; charset=utf-8',
				success: function(result) {
					// Handle or verify the server response if necessary.
					if (result) {
						$('#login').html('Logging in...');
						window.location.href = "/catalog";
					} else if (authResult['error']) {
						console.log('There was an error: '
							+ authResult['error']);
						$('#sign-in-buttons').show();
					} else {
						$('#login').html('Failed to make a server-side ' +
							'call. Check your configuration and console.');
						$('#sign-in-buttons').show();
					}
				},
				error: function(result) {
				    console.log(result);
				    $('#login').html('There was an error logging in. ' +
						'Please try again later.');
				    $('#sign-in-buttons').show();
				}
			});
		}
	}

	window.fbAsyncInit = function() {
		FB.init({
			appId      : '174255726543626',
			cookie     : true,  // enable cookies to allow the server to access
								// the session
			xfbml      : true,  // parse social plugins on this page
			version    : 'v2.8' // use version 2.8
		});
	};
	// Load the SDK asynchronously
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
	// Here we run a very simple test of the Graph API after login is
	// successful.  See statusChangeCallback() for when this call is made.

	function sendTokenToServer() {
	    $('#sign-in-buttons').hide();
		var access_token = FB.getAuthResponse()['accessToken'];
		console.log(access_token);
		console.log('Welcome!  Fetching your information.... ');
		FB.api('/me', function(response) {
			console.log('Successful login for: ' + response.name);
			$.ajax({
				type: 'POST',
				url: '/fbconnect?state={{STATE}}',
				processData: false,
				data: access_token,
				contentType: 'application/octet-stream; charset=utf-8',
				success: function(result) {
					if (result) {
						$('#login').html('Logging in...');
						window.location.href = "/catalog";
					} else {
						$('#login').html('Failed to make a server-side ' +
							'call. Check your configuration and console.');
						$('#sign-in-buttons').show();
					}
				},
				error: function(result) {
				    console.log(result);
				    $('#login').html('There was an error logging in. ' +
						'Please try again later.');
				    $('#sign-in-buttons').show();
				}
			});
		});
	}
</script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
</script>
<script src="//apis.google.com/js/platform.js"></script>
{% endblock %}